.about-cards{
    padding: 20px 25px;
    margin: 10px;
    border-radius: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.about-cards:hover{
    border-radius: 40px;
    background-color: #fff;
    box-shadow: 5px 5px 20px #4772f36c;
}